@import "https://fonts.googleapis.cn/css?family=Zen%20Maru%20Gothic";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  /*     display:flex;
    justify-content:center; */
  --rgblackvalue: 100%;
  --rgwhitevalue: 100%;
  min-height: 100vh;
  background: radial-gradient(
      circle at right,
      #0000 var(--rgwhitevalue),
      #000 var(--rgblackvalue)
    ),
    url(https://my-img.cc/i/2022/06/18/62ada6f589492.png) no-repeat, #000;
  background-size: 100% 50%, 77% auto, 100% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat;
/*   background-position: 100% 0, 100% 0, center center;  pc*/
  background-position:100% 0, 100% 0, center center;
}
.loading-svg {
  opacity:0;
  z-index: 4;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: #eef2ff;
}
.loading-svg svg {
  transform: scale(1);
}
.loading-svg svg path {
  transition: opacity 0.4s ease-in-out;
  stroke: #ffc0d3;
  stroke-width: 70px;
  stroke-dasharray: 1700;
  stroke-dashoffset: 300;
  -webkit-animation: testMotion 60s linear infinite,
    testFillMotion 7s ease-in-out infinite;
  animation: testMotion 60s linear infinite,
    testFillMotion 7s ease-in-out infinite;
}
@-webkit-keyframes testMotion {
  0% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 99999;
  }
}
@keyframes testMotion {
  0% {
    stroke-dasharray: 1300;
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: 99999;
  }
}
@-webkit-keyframes testFillMotion {
  0% {
    fill: #a05ed9;
  }
  25% {
    fill: #e1e5ea;
  }
  50% {
    fill: #a7bbc7;
  }
  75% {
    fill: #da7f8f;
  }
  100% {
    fill: #a05ed9;
  }
}
@keyframes testFillMotion {
  0% {
    fill: #a05ed9;
  }
  25% {
    fill: #e1e5ea;
  }
  50% {
    fill: #a7bbc7;
  }
  75% {
    fill: #da7f8f;
  }
  100% {
    fill: #a05ed9;
  }
}
#main {
  padding: 0 3vw;
  position: absolute;
}
#main #header {
  
  margin-top: 10vh;
  width: 97vw;
  color: #fff;
  font-family: "Zen Maru Gothic";
}
body #down-svg {
  position: absolute;
  width: 10vw;
  bottom: 3vh;
  z-index: 3;
  transition: 0.5s ease-in-out;
}
body #down-svg svg {
  width: 100%;
  height: 100%;
}
#main #header h1 {
  width: 66.666%;
  font-size: 7vw;
  line-height:7.333vw;
  white-space: pre-wrap;
  word-break: break-all;
}
#main #header .header-category-name {
  font-size: 1.3rem;
}
#main #header .header-desc {
  white-space: pre-wrap;
  color: #ccc;
  line-height: 3vh;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#main #header .header-category-name {
  text-transform: uppercase;
}
#main #header .header-state i {
  font-style: normal;
}
#main #header .header-state i span {
  margin-left: 3px;
}
#main #body {
  color: #fff;
  font-family: Sans-serif;
  margin-top: 3vh;
}
#main #body .body-title {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-bottom: 3vh;
}
#main #body .body-content {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
#main #body .body-content .body-content-cards {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#main
  #body
  .body-content
  .body-content-cards
  .body-content-card:not(:first-child) {
  margin-left: 20px;
}
#main #body .body-content .body-content-cards .body-content-card {
  width: 25vw;
  height: 14vw;
  border-radius: 7px;
}
#main #body .body-content .body-content-cards div[class="vjs-poster"] {
  position: static;
}
#main #body .body-content .body-content-cards .body-content-card > div {
  width: 100%;
  height: 100%;
}
#main #body .body-content .body-content-cards .body-content-card > div video {
  width: 100%;
  height: 100%;
  position: relative;
}
#main #body .body-content .body-content-cards .body-content-card:hover time {
  right: -10px;
  opacity: 0;
}
#main #body .body-content .body-content-cards .body-content-card {
  position: relative;
  overflow: hidden;
}
#main #body .body-content .body-content-cards .body-content-card time {
  position: absolute;
  transition: opacity 0.3s ease-in-out, right 0.4s ease-in-out;
  right: 10px;
  top: 10px;
  padding: 3px 8px;
  background-color: rgba(21, 13, 13, 0.44);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  letter-spacing: 3px;
}
#main #footer .footer-title {
  margin-top: 7vh;
  color: #fff;
  font-family: "Zen Maru Gothic";
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-bottom: 3vh;
}
#main #footer .footer-content {
  margin-right: 3vw;
  background: url(https://bisquedoll-anime.com/assets/teaser/img/marin/logo.png)
      no-repeat,
    url(https://bisquedoll-anime.com/assets/img/common/bg_2.png),
    linear-gradient(180deg, #e5d6f7 0%, #ffecf2 70%, white 100%);
  margin-bottom: 10vh;
  background-size: 37% auto, 100%;
  border-radius: 10px;
}
#main #footer .footer-content > ul {
  list-style-type: none;
  padding: 23% 3% 7% 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#main #footer .footer-content > ul > li {
  border: 1vw dashed;
  padding: 0.7vw;
  max-width: 590px;
}
#main #footer .footer-content > ul > li .footer-li-img > img {
  width: 100%;
}
#main #footer .footer-content > ul > li .footer-li-title {
  color: #ff7fb8;
  font-size: 1.7vw;
  line-height: 2;
  padding-bottom: 1.7vh;
  letter-spacing: normal;
  font-family: "Zen Maru Gothic";
}
#main #footer .footer-content > ul > li {
  position: relative;
}
#main #footer .footer-content > ul > li {
  max-width: 590px;
  width: 48%;
}
#main #footer .footer-content > ul > li:not(:first-child, :nth-child(2)) {
  margin-top: 7vh;
}
#main #footer .footer-content > ul > li > a {
  position: absolute;
  font-size: 2vw;
  white-space: nowrap;
  letter-spacing: 5vw;
  color: transparent;
  -webkit-text-decoration-color: #d7d7d7;
  text-decoration-color: #d7d7d7;
  display: flex;
  align-items: flex-end;
  overflow-x: clip;
  inset: 0;
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
}
#main #footer .footer-content .footer-content-end-cover {
  height: 30vh;
  overflow: hidden;
}
#main #footer .footer-content .footer-content-end-cover img {
  width: 100%;
}














@media screen and (max-width: 911px) {
  body {
    background-size: 100% 70vw, 100% auto, 100% 100% !important;
    background-repeat: no-repeat, no-repeat, no-repeat !important;
    background-position: 100% 70%, 100% 100%, center center !important;
    -webkit-mask-image: linear-gradient(to top, #000 97%, #0000);
    mask-image: linear-gradient(to top, #000 97%, #0000);
  }
  #main {
    max-height: 100vh;
    white-space: nowrap;
    overflow: hidden;
  }
  #main #header h1 {
    width: 70%;
    font-size: 7.333vw;
    letter-spacing: 0.777vw;
    line-height: 8.777vw;
    
  }
  #main #header .header-desc {
    width: 100%;

    font-size: 1.7vh;
    line-height: 1.3;
    margin-top: 3vh;
  }
  #main #header {
    margin-top: 0;
    width: 94vw;
    line-height: 5vw;
  }
  #main .main-content {
    padding: 3vh 0px;
  }
  #main #body {
    color: #fff;
    font-family: "Zen Maru Gothic";
    transition: opacity 0.47s ease-in-out;
  }
  #main #body .body-content .body-content-cards .body-content-card {
    width: 94vw;
    height: auto;
    border-radius: 7px;
  }
  .video-js .vjs-big-play-button {
    transform: scale(0.7);
    top: -5px;
    left: -5px;
  }
  #main #body .body-content .body-content-cards {
    flex-direction: column;
  }
  #main
    #body
    .body-content
    .body-content-cards
    .body-content-card:not(:first-child) {
    margin-left: 0;
    margin-top: 3vh;
  }
  #main #footer .footer-content > ul > li .footer-li-title {
    font-size: 3.3vw;
  }
  #main #footer .footer-content > ul > li > a {
    font-size: 4vw;
  }
  #main #footer .footer-content > ul > li:not(:first-child) {
    margin-top: 7vh;
  }
  #main #footer .footer-content > ul > li {
    border: 0.7vw dashed;
    width: auto;
  }
  #main #header .header-desc {
    -webkit-line-clamp: 3;
  }
  #main #body {
    opacity: 0;
  }
}
@-webkit-keyframes opacityTransitionMotion-On {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityTransitionMotion-On {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacityTransitionMotion-Off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityTransitionMotion-Off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
